# Копируйте этот файл в .env и при необходимости измените значения
# cp docker/.env.example docker/.env

# Пользователь и пароль БД (одинаковые для Postgres и приложения)
DATASOURCE_USERNAME=usr
DATASOURCE_PASSWORD=usr
